// Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Color Palette:
$off-white: #fcfbfa;
$dark-brown: #2d2826;
$green: #327245;
$light-green: #6ba38b;
$brown: #82452d;
$light-brown: #b99b8c;
$biege:#e9ded9;
$colors:  #c9e5d7, #e5d4ec, #e1e9c8; // List of colors


// Padding Variables
$padding-4: 0.25rem;
$padding-8: 0.5rem;
$padding-16: 1rem;
$padding-24: 1.5rem;
$padding-32: 2rem;
$padding-40: 2.5rem;
$padding-48: 3rem;
$padding-56: 3.5rem;
$padding-64: 4rem;
$padding-80: 5rem;
