@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-brown;
  }
  
  .modal {
    background-color: $off-white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .modal-buttons {
    margin-top: 20px;
  }
  
  .confirm-button, .cancel-button {
    margin: 0 10px;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
  }
  
  .confirm-button {
    background-color: $brown;
    color: $off-white;
    border: none;
  }
  
  .cancel-button {
    background-color: $off-white;
  }